# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Snapshots
*.car
*.car.aria2
*.sha256sum

# Lily repository
.lily
.redis
.timescaledb
