[Storage]
    [Storage.File]
        [Storage.File.CSV]
            Format      = "CSV"
            Path        = "/workspaces/"
            OmitHeader  = false
            FilePattern = "{table}.csv"
[Storage.Postgresql]
    [Storage.Postgresql.Timescale]
        URL             = "postgres://postgres:password@timescaledb:5432/postgres?sslmode=disable"
        ApplicationName = "lily"
        SchemaName      = "postgres"
        PoolSize        = 20
        AllowUpsert     = false
[Queue]
    [Queue.Notifiers]
        [Queue.Notifiers.Notifier1]
            Network  = "tcp"
            Addr     = "redis:6379"
            Username = "default"
            DB       = 0
            PoolSize = 0
[Queue.Workers]
    [Queue.Workers.Worker1]
        [Queue.Workers.Worker1.RedisConfig]
            Addr = "redis:6379"
        [Queue.Workers.Worker1.WorkerConfig]
            Concurrency        = 1
            LoggerLevel        = "debug"
            WatchQueuePriority = 5
            FillQueuePriority  = 3
            IndexQueuePriority = 1
            WalkQueuePriority  = 1
            StrictPriority     = false
            ShutdownTimeout    = 30000000000
