version: "3"
services:
    lily:
        build:
            context: ..
            dockerfile: Dockerfile
        tty: true
        volumes:
            - ..:/workspace:cached
    redis:
        image: redis:latest
        command: redis-server --appendonly yes
        ports:
            - 6379:6379
    timescaledb:
        image: timescale/timescaledb:2.5.0-pg13
        ports:
            - 5432:5432
        environment:
            - POSTGRES_PASSWORD=password
